@media screen and (min-width: 1440px) {
    body .container {
        width: 1320px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        .container {
            width: 960px;
        }

        #offer {
            img {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    body {
        background: #09090A !important;

        .container {
            width: 720px;
        }
        
        header {
            .menu {
                width: 315px;
                
                a {
                    font-size: 14px;
                }
            }
        }

        #offer {
            height: auto;
            text-align: center;
            margin-top: 100px;
            
            h1 {
                font-size: 35px;
            }
            p {
                font-size: 19px;
                font-weight: 300;
                max-width: 100%;
            }
            .btn {
                margin-top: 80px;
            }
        }

        #guarantee {
            margin: 130px 0 100px;
            h1 {
                font-size: 35px;
            }

            .cards {
                .card {
                    max-width: 190px;
                    text-align: center;
                    &__head  img{
                        width: 65%;
                    }
                    &__body {
                        margin-bottom: 15px;
                        h4 {
                            font-size: 22px;
                        }
                    }
                }
            }
        }

        #indicators {
            .container {
                width: 95%;
            }

            .mySwiper {
                .swiper-slide {
                    .items {
                        width: 90%;
                    }
                }
            }
        }

        &::after {
            background: url("../img/bg_mobile.png") !important;
            background-position: center top!important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            opacity: 0.7 !important;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        .container {
            width: 540px;
        }

        header {
            .menu {
                display: none;
            }

            .btn {
                display: none;
            }

            .burger-icon {
                display: inline-block;
            }
        }

        #guarantee {
            .cards {
                .card {
                    max-width: 110px;
                    &__head {
                        margin-bottom: 30px;
                        img{
                            width: 100%;
                        }
                    }
                    &__body {
                        font-size: 18px;
                    }
                    &__footer {
                        font-size: 12px;
                    }
                }
            }
        }

        #our-achiv {
            .items {
                align-items: baseline;
                .item {
                    img {
                        width: 50px;
                    }

                    h3 {
                        font-size: 22px;
                        margin-top: 10px;
                    }

                    p {
                        font-size: 14px;
                        margin-top: 10px;
                    }
                }
            }
        }

        #indicators {
            padding-top: 100px;

            .mySwiper {
                .swiper-slide {
                    img {
                        width: 60%;
                        margin-bottom: 0px;
                    }
                    .items {
                        flex-wrap: wrap;
                        justify-content: center;
                        .item {
                            margin-top: 35px;
                            h4 {
                                font-size: 20px;
                            }
                        }
                    }
                    .btn {
                        margin-top: 40px;
                    }
                }
            }
        }

        footer {
            .wrapper {
                .content {
                    flex-wrap: wrap;
                    justify-content: center;
                    .contact-us {
                        width: 100%;
                    }
                    .social {
                        margin-top: 50px;
                    }
                }
            }
        }

        &::after {
            background-size: 115% !important;
        }
    }
}

@media screen and (max-width: 576px) {
    body { 
        .container {
            width: 100%;
        }

        #offer {
            height: 50vh;
            
            h1 {
                font-size: 25px;
            }
            p {
                font-size: 14px;
            }
            .btn {
                font-size: 16px;
                margin-top: 80px;
            }
        }

        #guarantee {
            margin-top: 300px;
            .cards {
                .card {
                    margin-top: 0px;
                    width: 28%;
                    //min-width: 28%;
                    //max-width: 28%;
                    //margin: 0 20px;
                    &__head {
                        img {
                            width: 70%;
                        }
                    }
                    &__body h4 {
                        font-size: 15px;
                    }
                    &__footer p {
                        font-size: 10px;
                    }
                }
            }
        }

        #our-achiv {
            .items {
                justify-content: center;
                .item {
                    text-align: center;
                    margin: 0 15px 0;
                    h3 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        #indicators { 
            padding-top: 0px;

            .wrapper-class {
                margin-top: 100px;
            }

            .indicator-class {
                font-size: 30px;
            }

            .mySwiper {
                .swiper-slide {
                    .items {
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        .item {
                            max-width: 30%;
                            h4 {
                                font-size: 12px;
                            }
                            p {
                                font-size: 8px;
                            }
                        }
                    }
                    .btn {
                        font-size: 15px;
                        padding: 15px 30px;
                    }
                }
            }
        }

        #api {
            //margin-top: 50px;
            margin-bottom: 200px;
            display: flex;
            justify-content: center;
            font-family: $font-family;
            color: white;
            
            ul {
                padding: 10px;
            }

            .wrapper {
                .head {
                    h1 {
                        font-size: 30px;
                    }
                
                    p {
                        max-width: 90%;
                    }
                }
        
                .content {
                    max-width: 90%;
                    .what-you-get {
                        h3 {
                            font-size: 17px;
                        }
                    }
            
                    .needed {
                        h3 {
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        footer {
            .wrapper {
                .content {
                    text-align: center;
                    .contact-us h1, .social h1 {
                        font-size: 25px;
                    }

                    .contact-us {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        &::after {
            background-size: 150% !important;
        }
    }
}