$background-color: linear-gradient(294.39deg, #161820 22.75%, #1A1A1A 99.07%);
$btn-background: radial-gradient(92.49% 137.79% at 5.2% 14.75%, #FFCB52 0%, #FF7B02 100%);
$text-color: #FFFFFF;
$font-family: "Montserrat", sans-serif;