@import "components/header.scss";
@import "components/main.scss";
@import "untils/variables.scss";
@import "untils/media.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: $background-color;

	&::after {
		content: "";
		background: url("../img/bg.png");
		background-repeat: no-repeat;
		background-position: top;
		background-position-x: center;
		background-size: auto;
		opacity: 1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	width: 1140px;
}

.btn {
	padding: 20px 50px;
	border-radius: 50px;
	cursor: pointer;
	border: none;
	color: $text-color;
	font-family: $font-family;
	font-size: 18px;
	font-weight: 700;
}

.btn-radial {
	background: $btn-background;
	box-shadow: 0px 0px 15px #FFCB52;
}